:root {
  font-family: "Nunito", sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("./assets/fonts/Nunito.ttf") format("truetype");
}

body {
  margin: 0;
}

.spin-container {
  position: absolute;
  background-color: #00000088;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 42; /* Completely not random as it is the meaning of life */
}
